.font-sarabun {
    font-family: 'Sarabun';
}

.font-prompt {
    font-family: 'Prompt';
}

.font-charmonman {
    font-family: 'Charmonman';
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 4.5rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 2rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1rem;
}